<div class="projects-list">
  <a href="{{.Permalink}}">
    <div class="projects-container">
      <img title="{{.Title}}" alt="{{.Title}}" src="/projects/{{ .Params.Thumbnail }}" />
      <div class="img-overlay">
        <div class="projects-details">
          <h2><span>{{ .Title }}</span></h2>
          <p class="small">{{ delimit .Params.Work ", " | safeHTML }}</p>
          <p class="small">{{ .Params.jobDate }}</p>
        </div>
      </div>
    </div>
  </a>
</div>