{{ partial "header" .}}

<h1>{{ .Site.Params.notFound.h1 }}</h1>
<p>{{ .Site.Params.notFound.p }}</p>
<img src="{{ .Site.Params.notFound.gopher }}" alt="gopher" title="gopher" class="gopher" />

<h2>
  <a href="/">
    Take me home
  </a>
</h2>

{{ partial "footer" .}}
