{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<h3>{{ .Site.Params.main.latestPublishHeader }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "projects" }}
      {{ partial "projects/item" .}}
    {{ end }}
  {{ end }}

{{ partial "footer" .}}
