    </main>
  </div>
  <footer>
    <div class="footer-wrapper">
      <p>Made with {{emojify "🤍"}} by Anna Lerner <br/> Powered by <a href="https://gohugo.io/" target="_blank" rel="external">Hugo</a>.</p>
      <p>{{ .Site.Copyright}}</p>
    </div>
  </footer>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600|Raleway:400,400i,600" rel="stylesheet">
  {{ template "_internal/google_analytics.html" . }}
  <script type="text/javascript">
    document.querySelector('.mobile-header').addEventListener('click', function () {
      var om = document.querySelector(".overlay-menu");
      if (document.querySelector('.hamburger').classList.contains("cross")) {
        document.querySelector('.hamburger').classList.remove("cross");
        om.style.display = "none";
        om.style.width = "0%";
        om.style.height = "0%";
      }
      else {
        document.querySelector('.hamburger').classList.add("cross");
        om.style.width = "100%";
        om.style.height = "100vh";
        om.style.display = "block";
      }
    });
  </script>
</body>
</html>